---
---

@import "{{ site.theme }}";
/* Styling Text */

a
{
color: #d13639;
}

a:hover, a:focus
{
  color: #d13639!important;
  text-decoration: underline;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6
{
  color: #FFFFFF;
}

h1 a:hover
{
  font-weight: bold;
}

nav strong
{
  color: #FFFFFF;
}
code.language-plaintext.highlighter-rouge
{
  color:#e7e6e2;
  border: 1px solid #e7e6e2;
  border-radius: 2px;
  padding: 2px;
}
table.navTableStart th
{
  font-size: 30px;
}

/* Header Styling */
header
{
  background:#484848;
  width: 300px;
  height: 100%;
  padding: 10px 20px;
}

header ul a
{
  font-size: 14px!important;
  color: #d13639!important;
  text-align: left!important;
  padding: 5px!important;
}

header ul a:hover, header ul a:focus
{
  font-weight: normal;
}

header ul
{
  height: 50%!important;
  border: none!important;
  background: #484848!important;
}

header li
{
  width: 90%!important;
  float: left;
  border-right: none!important;
  border-bottom: 1px solid #e7e6e2!important;
}
header ul a:active
{
  background-color:#484848!important;
  border-bottom: 1px solid #e7e6e2!important;
}

/* Site Colors and Spacing */

footer
{
  padding: 10px;
}

nav
{
  padding-bottom:10px;
}

body
{
  background-color: #222222;
  color:#FFFFFF;
}

code, pre
{
color: #e7e6e2;
}

/* Code Block */
pre.highlight
{
  background-color: #484848;
  border: 1px solid #d13639;
}
.highlight
{
  background-color: #222222;
}

/* Tables */
th
{
  color: #e7e6e2;
}
