---
---

@import "{{ site.theme }}";
/* Styling Text */

a
{
color: #d13639;
}

a.hover
{
  color: #d13639!important;
}

h1, h2, h3, h4, h5, h6
{
  color: #FFFFFF;
}

nav strong
{
  color: #FFFFFF;
}
code.language-plaintext.highlighter-rouge
{
  color:#e7e6e2;
}


/* Site Colors and Spacing */

header
{
  background:#e7e6e2;
  width: 300px;
  height: 100%;
  padding: 10px 20px;
}

footer
{
  padding: 10px;
}

nav
{
  padding-bottom:10px;
}

body
{
  background-color: #222222;
  color:#FFFFFF;
}

/* Code Block */
pre.highlight
{
  background-color: #484848;
  border: 1px solid #d13639;
}
